﻿@model Identity.Web.Models.AssignRoleViewModel
@using Identity.Core

@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignRole</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Assign Role to @Model.UserName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.IsRoleAssigned != null && ViewBag.IsRoleAssigned)
        {
            <div class="text-success">
                Role Successfully Assigned
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoleName, new SelectList((IEnumerable<IdentityRole>)ViewBag.Roles, "Name", "Name"))
            </div>
        </div>
                
        @Html.HiddenFor(m=>m.UserId)
        @Html.HiddenFor(m => m.UserName)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Users")
</div>
