﻿@model IEnumerable<Identity.Core.IdentityUser>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>     
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Assign Role", "AssignRole", new { userId = item.Id })
        </td>
    </tr>
}

</table>
